<div class="catalog-item">
  <div class="catalog-item__wrapper">
    <div class="catalog-item__content catalog-item__content_active">
      <img src="{{image}}" alt="eat" class="catalog-item__img" />
      <div class="catalog-item__subtitle">{{name}}</div>
      <div class="catalog-item__descr">{{descr}}</div>
      <a href="" class="catalog-item__link">подробнее</a>
      <hr />
    </div>
    <ul class="catalog-item__list">
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li></li>
      <a href="#" class="catalog-items__back">назад</a>
    </ul>
  </div>
  <div class="catalog-item__footer">
    <div class="catalog-item__prices">
      <div class="catalog-item__prise">{{price}} грн.</div>
    </div>
    <button class="button button__mini">Купить</button>
  </div>
</div>