.header {
  height: 100px;
  background-color: gold;
}
.header__logo {
  width: 154px;
}
.header__logo img {
  min-width: 100%;
  height: auto;
}
.header .header__navigation {
  min-height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__navigation_navigation {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}
.header .header__li {
  padding: 10px 20px;
}
.header .header__li > a:hover {
  color: #c70101;
}
.header .header__li > a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

