img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}
.image-gallery {
  display: none;
  margin-top: 30px;
}

.fullview {
  margin-bottom: 10px;
}

.preview {
  display: flex;
}

.preview:hover {
  cursor: pointer;
}

@media (min-width: 600px) {
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  .image-gallery {
    display: block;
    margin-top: 30px;
  }

  .fullview {
    padding: 0 10px;
    margin-bottom: 10px;
  }

  .preview {
    padding: 0 10px;
    display: flex;
  }

  .preview:hover {
    cursor: pointer;
  }
}
